<p id="notice"><%= notice %></p>

<p>
  <strong>Site package:</strong>
  <%= @site_package_flow.site_package %>
</p>

<p>
  <strong>Flow:</strong>
  <%= @site_package_flow.flow %>
</p>

<p>
  <strong>Content:</strong>
  <%= @site_package_flow.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @site_package_flow.status %>
</p>

<%= link_to 'Edit', edit_site_package_flow_path(@site_package_flow) %> |
<%= link_to 'Back', site_package_flows_path %>
